#####################################################
# MaxScale documentation:                           #
# https://mariadb.com/kb/en/mariadb-maxscale-24-02/ #
#####################################################

#######################################################################################################
# Global parameters                                                                                   #
#                                                                                                     #
# Complete list of configuration options:                                                             #
# https://mariadb.com/kb/en/mariadb-maxscale-2402-maxscale-2402-mariadb-maxscale-configuration-guide/ #
#######################################################################################################
[maxscale]
threads=auto
# threads=4
admin_host=<IP>
# admin_port=2222
log_augmentation = 1
ms_timestamp = 1
syslog = 1
admin_secure_gui=false
# admin_secure_gui=true
# admin_ssl_key=/certs/server-key.pem
# admin_ssl_cert=/certs/server-cert.pem
# admin_ssl_ca_cert=/certs/ca-cert.pem

# [MyMascking]
# type=filter
# module=masking
# warn_type_mismatch=always
# large_payload=abort
# tules=/etc/masking_rules.json

# [mariadb-admin-service]
# type=service
# router=cli

############################################################################
# Server definitions                                                       #
#                                                                          #
# Set the address of the server to the network address of a MariaDB server.#
############################################################################
[db1]
type=server
address=192.168.1.251
port=3306
protocol=MariaDBBackend

[db2]
type=server
address=192.168.1.252
port=3306
protocol=MariaDBBackend

[db3]
type=server
address=192.168.1.253
port=3306
protocol=MariaDBBackend
##################################################################################
# Uncomment this and add MaxScale's IP to proxy_protocol_networks in MariaDB for #
# easier user management: https://mariadb.com/kb/en/proxy-protocol-support/      #
##################################################################################
# proxy_protocol=true

##################################################################################################
# Monitor for the servers                                                                        #
#                                                                                                #
# This will keep MaxScale aware of the state of the servers.                                     #
# MariaDB Monitor documentation:                                                                 #
# https://mariadb.com/kb/en/maxscale-24-02monitors/                                              #
#                                                                                                #
# The GRANTs needed by the monitor user depend on the actual monitor.                            #
# The GRANTs required by the MariaDB Monitor can be found here:                                  #
# https://mariadb.com/kb/en/mariadb-maxscale-2402-maxscale-2402-mariadb-monitor/#required-grants #
##################################################################################################
[MariaDB-Monitor]
type=monitor
module=mariadbmon
servers=<ALL_NODES>
user=<MAXSCALE_USER>
password=<MAXSCALE_PASS>
monitor_interval=2s
# monitor_interval=5000
##################################################################################################################
# Uncomment these to enable automatic node failover:                                                             #
# https://mariadb.com/kb/en/mariadb-maxscale-2402-maxscale-2402-mariadb-monitor/#cluster-manipulation-operations #
#                                                                                                                #
# The GRANTs required for automatic node failover can be found here:                                             #
# https://mariadb.com/kb/en/mariadb-maxscale-2402-maxscale-2402-mariadb-monitor/#cluster-manipulation-grants     #
##################################################################################################################
auto_failover=true
auto_rejoin=true
# enforce_simple_topology=true
# replication_user=<username used for replication>
# replication_password=<password used for replication>
##################################################################################################################
# Uncomment this if you use more than one MaxScale with automatic node failover:                                 #
# https://mariadb.com/kb/en/mariadb-maxscale-2402-maxscale-2402-mariadb-monitor/#cooperative-monitoring          #
##################################################################################################################
# cooperative_monitoring_locks=majority_of_all

#########################################################################################################
# Service definitions                                                                                   #
#                                                                                                       #
# Service Definition for a read-only service and a read/write splitting service.                        #
#                                                                                                       #
# The GRANTs needed by the service user can be found here:                                              #
# https://mariadb.com/kb/en/mariadb-maxscale-2402-maxscale-2402-authentication-modules/#required-grants #
#
# ReadConnRoute documentation:                                                                          #
# https://mariadb.com/kb/en/mariadb-maxscale-2402-maxscale-2402-readconnroute/                          #
#########################################################################################################
[ro-Service]
type=service
router=readconnroute
servers=<ALL_NODES>
user=<MAXSCALE_USER>
password=<MAXSCALE_PASS>
# router_options=slave

#################################################################################
# ReadWriteSplit documentation:                                                 #
# https://mariadb.com/kb/en/mariadb-maxscale-2402-maxscale-2402-readwritesplit/ #
#################################################################################
[rw-Service]
type=service
router=readwritesplit
servers=<ALL_NODES>
user=<MAXSCALE_USER>
password=<MAXSCALE_PASS>
# filters=MyMascking
# delay_retry_timeout=25
# causal_reads=true
# master_failure_mode=error_on_write
# master_reconnection=1
# delay_retry=1
####################################################################################################
# Uncomment these to enable transparent transaction replay on node failure:                        #
# https://mariadb.com/kb/en/mariadb-maxscale-2402-maxscale-2402-readwritesplit/#transaction_replay #
####################################################################################################
# transaction_replay=true
# transaction_replay_timeout=30s

####################################################################
# Listener definitions for the services                            #
#                                                                  #
# These listeners represent the ports the services will listen on. #
####################################################################
[ro-Listener]
type=listener
service=ro-Service
protocol=MariaDBClient
address=<IP>
port=3308

[rw-Listener]
type=listener
service=rw-Service
protocol=MariaDBClient
address=<IP>
port=3307

# [mariadb-admin-service-Listener]
# type=listener
# service=mariadb-admin-service
# protocol=maxscaled
# socket=default
# address=<IP>

# [Read-Only-Listener]
# type=listener
# service=Read-Only-Service
# port=4008

# [Read-Write-Listener]
# type=listener
# service=Read-Write-Service
# port=4006
