#
# * Galera-related settings
#
# See the examples of server wsrep.cnf files in /usr/share/mysql
# and read more at https://mariadb.com/kb/en/galera-cluster/

[mysqld]
#mysql settings
binlog_format=ROW
default-storage-engine=innodb
innodb_autoinc_lock_mode=2
query_cache_size=0
query_cache_type=0
# bind-address=0.0.0.0

#galera settings
wsrep_on=ON
wsrep_provider=/usr/lib/galera/libgalera_smm.so
wsrep_cluster_name="my_wsrep_cluster"
wsrep_cluster_address="gcomm://<ALL_NODES>"
wsrep_node_address="<HOST>"
wsrep_node_name="<HOST>"
wsrep_sst_method=rsync

auto_increment_increment = <MAX_NODES>
auto_increment_offset = <NODE>

# Optional settings
#wsrep_slave_threads = 1
#innodb_flush_log_at_trx_commit = 0

# wsrep_sst_receive_address=<HOST>:4444
# ist.recv_addr=<HOST>:4568

