[mysqld]
server-id=<NODE>
log-bin=/var/lib/mysql/log/mysql-bin.log
relay-log=/var/lib/mysql/log/mysql-relay-bin.log
binlog-format=ROW
relay_log_recovery = ON
auto-increment-increment=<MAX_NODES>
auto-increment-offset=<NODE>
